@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    height: 100%;
    min-height: 100vh;
    color: white;
    background-color: black;
  }

  #__next {
    height: 100%;
    min-height: 100vh;
  }
}
